@{
    ViewBag.PageName = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Тел: <br />
 <b>(057) 762- 30 - 43</b><br />
 <b>(0572) 97 - 60 - 20</b></br>
 <b>(095) 772 - 23-72</b></br>
</p>

<p>
    ст. Ботанический сад. пр Ленина, 38 ( Дом Проектов) 1 этаж, каб. 114
</p>

<img src="//api-maps.yandex.ru/services/constructor/1.0/static/?sid=UYZ0ncSUOKsz18UwDwPkMNbpA8b2MQ7h&width=600&height=450" alt=""/>

<p>
    Пр. Героев Сталинграда 173 ( на стороне магазина "Сильпо")
</p>

<img src="//api-maps.yandex.ru/services/constructor/1.0/static/?sid=rTG5f8kUDjSXo3Ikm4Sp8jhbv8S-NlkL&width=600&height=450" alt=""/>
