@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageName = "Галерея";
}

<div data-ng-controller="PhotoGallery">
    <!-- slider container -->
    <div class="slider">

        <!-- enumerate all photos -->
        <img data-ng-repeat="photo in photos" class="slide" data-ng-swipe-right="showPrev()" data-ng-swipe-left="showNext()" data-ng-show="isActive($index)" data-ng-src="{{photo.src}}" />

        <!-- prev / next controls -->
        <a class="arrow prev" href="#" data-ng-click="showPrev()"></a>
        <a class="arrow next" href="#" data-ng-click="showNext()"></a>

        <!-- extra navigation controls -->
        <ul class="gnav">
            <li data-ng-repeat="photo in photos" data-ng-class="{'active':isActive($index)}">
                <img data-ng-src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" data-ng-click="showPhoto($index);" />
            </li>
        </ul>
    </div>
</div>
