@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageName = "О нас";
}

<p><img class="leftimg" src="~/Photos/title.png" />
    <p>Комфортное лечение зубов и сон в стоматологическом кресле - это реальность, если Вы клиент стоматологической клиники доктора Чернышевой. Добро пожаловать в мир элитной стоматологии Харькова!</p>
    <p>Ваша улыбка - это, прежде всего Ваше здоровье, а также уверенность в себе и отличное настроение. Состояние наших зубов не только указывает на уровень здоровья организма, но и влияет на наше поведение. От нашей способности улыбаться зависит то, как мы выглядим и как складывается наш день. Человек с белоснежной улыбкой - контактный, очаровательный и приятный собеседник, ему легко удается то, на что другим требуется много усилий. Улыбка - это показатель успеха.</p>
    <p>Стоматологическая клиника доктора Чернышевой гарантирует индивидуальный подход к каждому пациенту. Мы проводим безболезненное лечение самых сложных проблем:</p>
<ul>
 <li>парадонтологии</li>
 <li>реставрация зубов</li>
 <li>лечение и протезирование зубов</li>
</ul>
<p>Но не стесняйтесь обращаться к нам и с незначительным недомоганием - профилактика сэкономит Ваше время в будущем.</p>
<p>Наши специалисты имеют высокую квалификацию и работают на современном оборудовании. Стоматологическая клиника доктора Чернышевой обеспечит Вас полной информацией о Вашем стоматологическом здоровье. Мы предлагаем не только лечение зубов на высоком уровне, но и все виды эстетической стоматологии.</p>
<p>Наша стоматологическая клиника поможет Вам надолго забыть о проблемах со здоровьем зубов и подарит Вам улыбку.</p>
<p>Результат нашей работы - это Ваше здоровье и хорошее настроение.</p>
<p>Заботиться о своих зубах - значит быть успешным. Живите с улыбкой!</p> </p>
