@{
    ViewBag.PageName = "Услуги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Стоматологическая клиника доктора Чернышевой предоставляет весь комплекс стоматологических услуг:</p>

<p><b>терапевтическая стоматология</b> - это комплекс лечебных и профилактических действий, которые нацелены на лечение кариеса, пульпита, периодонтита и других заболеваний, а также на возвращение анатомической формы зуба;</p>

<p><b>эстетическая стоматология</b> - это восстановление объема зубных тканей, при котором воссоздается архитектура зуба;</p>

<p><b>хирургическая стоматология</b> - это хирургические медицинские процедуры, которые делаются с целью изменения, модифицирования или исправления зубов и челюстных костей. Есть целый ряд таких процедур, таких как удаление зубов, выравнивание, имплантология и т.д., которые подпадают под категорию "косметические стоматологические операции".</p>

<p><b>ортодонтия</b> - подразделение стоматологии, основным объектом изучения которого, является выравнивание зубов и исправлением прикуса.</p>
